<p>
    <h3 class="text-success">Категория товара</h3>
</p>
<p>
    <h4 class="text-primary">Id  = @ViewBag.Category.Id </h4>
    <h4 class="text-primary">Наименование = @ViewBag.Category.Name </h4>
</p>
<hr />
<p><a href="/Home/Categories" class="btn btn-primary btn-lg">Список категорий продуктов</a></p>


